@import './mixins';

form{
    width: 90%;
    margin-top: 1rem;
    .top-form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin-bottom: 1rem;
        label{
            width: 100%;
            margin-top: .6rem;
        }
        input{
            width: 100%;
            background-color: var(--quaternary-color);
            color: var(--tertiary-color);
        }
        .error{
            color: var(--tertiary-color);
            font-size: 12px;
        }
    }
    .message{
        textarea{
            width: 100%;
            height: 200px;
            color: var(--tertiary-color);
            background-color: var(--quaternary-color);
        }
    }
    .button-container{
        text-align: center;
        button{
            @extend .button;
            color: var(--quinary-color);
            padding: .6rem;
            margin: .8rem 0;
        }
    }
}

@media screen and (max-width: 767px) {
    form{
        width: 100%;
        .top-form{
            grid-template-columns: 1fr;
            gap: 0;
            label{
                font-size: 12px;
            }
        }
        .message{
            font-size: 12px;
        }
    }
}