@import '../abstracts/mixins';

.Navbar{
    border-right: 1px solid var(--secondary-color);
    height: 100vh;
    h4{
        font-size: 1.5rem;
        text-align: center;
        margin: 1rem 0;
    }
    .nav-items{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin: 1rem;
    }
    .nav-items{
        .img-container{
            border-radius: 50%;
            width: 150px;
            width: 150px;
            img{
                border-radius: 50%;
                max-width: 100%;
                max-height: 100%;
                padding: 1rem;
                border: 1px solid #08FDD8;
            }
        }
        button{
            @extend .button;
            color: var(--quinary-color);
            padding: .5rem;
        }
    }
}

@media screen and (max-width: 767px) {
    .Navbar{
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        h4{
            font-size: 1rem;
        }
        .nav-items{
            align-items: center;
            position: absolute;
            top: 40px;
            flex-direction: column;
            background-color: var(--primary-color);
            left: 0;
            width: 75%;
            height: 100vh;
            transform: translateX(-100%);
            transition: all .45s;
            .img-container{
                border-radius: 50%;
                width: 150px;
                width: 150px;
            }
            li{
                margin-top: .6rem;
                &::before{
                    background: transparent;
                }
            }
        }
        .nav-items.open{
            transform: translateX(0);
        }
        .nav-toggle{
            display: flex;
            width: 50px;
            height: 50px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            .bar{
                position: relative;
                width: 32px;
                height: 2px;
                background: var(--quinary-color);
                transition: all .45s ease-in-out;
                &::before, &::after{
                    content: "";
                    position: absolute;
                    height: 2px;
                    border-radius: 2px;
                    background-color: var(--quinary-color);
                    transition: all .45s ease-in-out;
                }
                &::before{
                    width: 25px;
                    transform: translateY(-8px);
                    right: 0;
                }
                &::after{
                    width: 32px;
                    transform: translateY(8px);
                }
            }
        }
        .nav-toggle.open{
            .bar{
                transform: translateX(-40px);
                background: transparent;
                &::before{
                    width: 32px;
                    transform: rotate(45deg) translate(26px, -26px);
                }
                &::after{
                    transform: rotate(-45deg) translate(26px, 26px);
                }
            }
        }  
    }
}