@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root{
    --font-poppins: 'Poppins', sans-serif;
    --fonts-roboto: 'Roboto', sans-serif;
    --primary-color: #0A192F;
    --secondary-color: #8892b0;
    --tertiary-color: #CCD6F6;
    --quaternary-color: #112240;
    --quinary-color: #08FDD8;
}