.Contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding-top: 3.6rem;
    width: 80%;
    margin: 0 auto;
    h4{
        color: var(--quinary-color);
    }
    p{
        text-align: center;
        font-size: 14px;
    }
    .social{
        margin-top: 1rem;
        color: var(--quinary-color);
    }
    .contactLinks{
        padding: 0;
    }
}

@media screen and (max-width: 767px) {
    .Contact{
        width: 100%;
        margin: 0;
    }
}