.Home{
    padding: .5rem;
    margin-top: 3rem;
    .colored{
        font-family: var(--font-roboto);
        font-size: 1.2rem;
        color: var(--quinary-color);
    }
    h1{
        margin: .5rem 0;
        font-size: 1.8rem;
        span{
            font-weight: 700;
            font-size: 1.8rem;
            color: var(--tertiary-color);
        }
    }
    .button{
        border-radius: 5px;
        margin-top: 2rem;
        border: 1px solid var(--quinary-color);
        padding: 1rem;
        a{
            font-family: var(--font-roboto);
            color: var(--quinary-color);
        }
        &:hover{
            transition: 0.5s;
            background-color: rgba($color: #08FDD8, $alpha: 0.1);
        }
    }
}