@import '../abstracts/projectcard';

.Projects{
    padding-top: 3.6rem;
    .project-container{
        margin: 2rem 0;
        display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax(300px, 1fr),
        );
        place-content: center;
        place-items: center;
        gap: 1.5rem;
    }
}