@import '../abstracts/projectcard';

.Projects{
    padding-top: 3.6rem;
    .project-container{
        margin: 2rem 0;
        display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax(300px, 1fr),

        );
        place-content: center;
        gap: 1rem;
    }
}

@media screen and (max-width: 767px) {
    .Projects{
        .project-container{
            gap: 1.5rem;
            place-content: center;
        }
    }
}