@import '../abstracts/shield';

.Skills{
    padding-top: 3.6rem;
    .skill-info{
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        margin: 1rem 0;
        a:hover{
            transition: .3s;
            background-color: var(--quaternary-color);
        }
    }
}